.search-bar{
  border-radius:8px;
  margin-top:5rem;
  margin-left: 2rem;
  align-self: center;
}

.search-form{
  margin-bottom:2rem;
}

@media (min-width:550px){

  .search-button{
    margin-top:5rem;
    align-self: center;
    margin-left: 2rem;
    min-width: 70px;
    border-radius:8px;
  }
}

@media (max-width:550px){

  .search-button{
    margin-top:1.5rem;
    align-self: center;
    margin-left: 2rem;
    min-width: 70px;
    border-radius:8px;
  }  

}

